.cardsDisplay{
    display: inline-block;
    margin-right: 10px;
}

.single-group{
    background-color: #2C5F2DFF;
    display: flex;
    height: 50vh;
    margin: 40px;
    overflow-x: auto;
}

.addObject{
    border-radius: 5px;
    background-color: cornsilk;
    margin-top: 20vh;
    margin-bottom: 20vh;
    max-height: 50%;
}